<main>
    <div class="flex-container">
        <div class="profile-search">
            <%= form_with url: "/movies", method: :get do |form| %>
                <%= form.label :query, "Search for Movies:" %>
                <%= form.text_field  :query %>
                <%= form.submit "Search" %>
            <% end %>
        </div>

        <div class="movies">
            <% if @movies %>
                <% @movies.each do |movie| %>
                    <div class="movie" >
                        <%= image_tag "https://www.themoviedb.org/t/p/w600_and_h900_bestv2#{movie["poster_path"]}",  alt: "Movie Thumbnail", class: "movie-poster" %>
                        <div class="movie-details" >
                            <p class="title"><%= movie["title"] %></p>
                            <p class="year"><%= movie["release_date"] %></p>
                            <p class="description"><%= movie["overview"] %></p>
                        </div>


                        <% 
                            thumb_path,
                        %>

                        <% if logged_in? %>
                            <div>
                                <%= button_to "Thumb Up" %>
                                <%= button_to "@" %>
                                <%= button_to "Thumb Down" %>
                            </div>
                        <% else %>
                            <div>
                                <%= button_to "Thumb Up" %>
                                <%= button_to "@" %>
                                <%= button_to "Thumb Down" %>
                            </div>
                        <% end %>
                        
                    </div>  
                <% end %>
            <% end %>
        </div>
          
    </div>
</main>

<%= render "shared/menu" %>