<main>
  <div class="flex-container">
    <h1 id="search-title"><i class="fa-solid fa-film"></i>&nbsp; Movies</h1>
    <div class="search">
      <%= form_with url: "/movies", method: :get do |form| %>
        <%= form.text_field :query, value: params[:query] %>
        <%= form.submit "Search", id: "search" %>
      <% end %>
    </div>

    <div class="movies">
      <% if @movies %>
        <% @movies.each do |movie| %>
          <div class="movie">
            <%= image_tag "https://www.themoviedb.org/t/p/w600_and_h900_bestv2#{movie["poster_path"]}",  alt: "Movie Thumbnail", class: "movie-poster" %>
            <div class="movie-details">
              <p class="title"><%= movie["title"] %></p>
              <p class="year"><%= movie["release_date"] %></p>
              <p class="description"><%= movie["overview"] %></p>
            </div>

            <div class="thumbs">
              <% if logged_in? %>
                <% thumb = @thumbs.where(tmdbId: movie["id"], userId: current_user.id) %>
                <div class="like-button">
                  <%= button_to thumbs_path, params: { tmdbId: movie["id"], userId: current_user.id, value: 1 }, id: "thumb-button" do %>
                    <i
                      class="fa-solid fa-thumbs-up"
                      style="<%= thumb.length > 0 && thumb[0].value == 1 ? "color:green" : "color:grey" %>"
                    ></i>
                  <% end %>
                </div>
                <div class="dislike-button">
                  <%= button_to thumbs_path, params: { tmdbId: movie["id"], userId: current_user.id, value: 0 }, id: "thumb-button" do %>
                    <i
                      class="fa-solid fa-thumbs-down"
                      style="<%= thumb.length > 0 && thumb[0].value == 0 ? "color:red" : "color:grey" %>"
                    ></i>
                  <% end %>
                </div>

              <% else %>
                <%= button_to sessions_path, id: "thumb-button" do %>
                  <i class="fa-solid fa-thumbs-up" style="color:grey"></i>
                <% end %>
                <%= button_to sessions_path, id: "thumb-button" do %>
                  <i class="fa-solid fa-thumbs-down" style="color:grey" ></i>
                <% end %>
              <% end %>
            </div>

          </div>
        <% end %>
      <% else %>
        <p>Try searching for movies</p>
      <% end %>
    </div>

  </div>
</main>

<%= render "shared/menu" %>
