<main>
  <div class="flex-container">
    <h1 id="search-title"><i class="fa-solid fa-film"></i>&nbsp; Movies</h1>
    <div class="search">
      <%= form_with url: "/movies", method: :get do |form| %>
        <%= form.text_field :query, value: params[:query] %>
        <%= form.submit "Search", id: "search" %>
      <% end %>
    </div>

    <div class="movies">
      <% if @movies %>
        <% @movies.each do |movie| %>
          <div class="movie">
            <%= image_tag "https://www.themoviedb.org/t/p/w600_and_h900_bestv2#{movie["poster_path"]}",  alt: "Movie Thumbnail", class: "movie-poster" %>
            <div class="movie-details">
              <p class="title"><%= movie["title"] %></p>
              <p class="year"><%= movie["release_date"] %></p>
              <p class="description"><%= movie["overview"] %></p>
            </div>

            <% thumbSize = 84 %>
            <% thumbUpColor = "#28B463" %>
            <% thumbDownColor = "#CB4335" %>

            <% circleSize = 32 %>
            <% circleColor = "#D68910" %>

            <div class="thumbs">
              <% if logged_in? %>
                <% thumb = @thumbs.where(tmdbId: movie["id"], userId: current_user.id) %>
                <div class="like-button">
                  <%= button_to thumbs_path, params: { tmdbId: movie["id"], userId: current_user.id, value: 1 } do %>
                    <i
                      class="fa-solid fa-thumbs-up"
                      style="<%= thumb.length > 0 && thumb[0].value == 1 ? "color:green" : "color:grey" %>"
                    ></i>
                  <% end %>
                </div>
                <div class="dislike-button">
                  <%= button_to thumbs_path, params: { tmdbId: movie["id"], userId: current_user.id, value: 0 } do %>
                    <i
                      class="fa-solid fa-thumbs-down"
                      style="<%= thumb.length > 0 && thumb[0].value == 0 ? "color:red" : "color:grey" %>"
                    ></i>
                  <% end %>
                </div>

              <% else %>
                <%= button_to sessions_path do %>
                  <i class="fa-solid fa-thumbs-up"></i>
                <% end %>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="64"
                  height="64"
                  viewBox="0 0 512 512"
                ><path
                    fill="orange"
                    d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"
                  /></svg>
                <%= button_to sessions_path do %>
                  <i class="fa-solid fa-thumbs-down"></i>
                <% end %>
              <% end %>
            </div>

          </div>
        <% end %>
      <% else %>
        <p>Try searching for movies</p>
      <% end %>
    </div>

  </div>
</main>

<%= render "shared/menu" %>
