<main>
    <div class="flex-container">
        <div class="profile-search">
            <%= form_with url: "/users", method: :get do |form| %>
                <%= form.label :query, "Search for Users:" %>
                <%= form.text_field :query %>
                <%= form.submit "Search" %>
            <% end %>
        </div>

        <ul>
            <% if @users %>
                <% @users.each do |movie| %>
                    <li>
                        <a href="<%= user_path(user) %>">
                        <%= users.username %>
                    <li>
                <% end %>
            <% end %>
        </ul>
          
    </div>
</main>

<%= render "shared/menu" %>