<main>
  <div class="flex-container">
    <div class="profile-details">
      <div
        class="profile-pic"
        style="background-color:<%= @colors[@user.background] %>"
      >
        <i class="<%= @icons[@user.picture] %>"></i>
      </div>
      <h1>&nbsp;<%= @user.username %></h1>
    </div>

    <div class="movies">
      <% if @thumbs.length > 0 %>
        <% @thumbs.each do |thumb| %>
          <% movieModel = Movie.new(thumb.tmdbId.to_s) 
            movie = movieModel.get_movie() %>
          <div class="movie">
            <%= image_tag "https://www.themoviedb.org/t/p/w600_and_h900_bestv2#{movie["poster_path"]}",  alt: "Movie Thumbnail", class: "movie-poster" %>
            <div class="movie-details">
              <p class="title"><%= movie["title"] %></p>
              <p class="year"><%= movie["release_date"] %></p>
              <p class="description"><%= movie["overview"] %></p>
            </div>

            <div class="thumbs">
              <% if current_user && current_user.id.to_s == @id.to_s %>
                <div class="like-button">
                  <%= button_to thumbs_path, params: { tmdbId: movie["id"], userId: current_user.id, value: 1 }, id: "thumb-button" do %>
                    <i
                      class="fa-solid fa-thumbs-up"
                      style="<%= thumb.value == 1 ? "color:green" : "color:grey" %>"
                    ></i>
                  <% end %>
                </div>
                <div class="dislike-button">
                  <%= button_to thumbs_path, params: { tmdbId: movie["id"], userId: current_user.id, value: 0 }, id: "thumb-button" do %>
                    <i
                      class="fa-solid fa-thumbs-down"
                      style="<%= thumb.value == 0 ? "color:red" : "color:grey" %>"
                    ></i>
                  <% end %>
                </div>

              <% else %>
                <div id="thumb-button-disabled">
                  <i
                    class="fa-solid fa-thumbs-up"
                    style="<%= thumb.value == 1 ? "color:green" : "color:grey" %>"
                  ></i>
                </div>
                <div id="thumb-button-disabled">
                  <i
                    class="fa-solid fa-thumbs-down"
                    style="<%= thumb.value == 0 ? "color:red" : "color:grey" %>"
                  ></i>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>This user has not reviewed any movies</p>
      <% end %>
    </div>
  </div>
</main>

<%= render "shared/menu" %>
